/* ======================================================
   OEFENEN MET CSS SELECTORS
========================================================= */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* 1.1 Geef de 'img' tag in the header een ID en zet zijn breedte op 100% */
#imgheader {
    width: 100%;
}


/* 1.2 Verander de kleur van alle list items in de unordered list naar hsl(110, 29%, 52%) */
ul > li {
    color: hsl(110, 29%, 52%);
}
li > a {
    hsl(359, 79%, 56%);
    text-decoration: none;
}


/* 1.3 Geef de 'span' tag in de footer een beschrijvende class name en maak de lettergrootte kleiner  */
.blogtekst {
    font-size: 10px;
}


/* 1.4 Haal de text-decoration van navigatie-links weg, geef onbezochte links de kleur hsl(359, 79%, 56%) en verander de kleur wanneer de gebruiker er overheen hovert. */
li > a:hover {

    color: green;
}




/* 1.5 Maak een hover- en visited stijl voor alle links in 'main'. */

p a:hover {
    color: hsl(110, 29%, 52%);
}

p a:visited {
    color: red;
}


/* Verander de achtergrond van de SignUp button. Tip: https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors  */

.Signupbutton {
    background-color: hsl(0, 79%, 56%);
}


/* Geef het tekst-veld een blauwe rand wanneer hij in focus is */
/*comment: Zodra je op read more klikt komt hij in focus*/
.article:focus-within {
    border: 1px;
    border-style: solid;
    border-color: red;
    border-bottom-color: green;
    border-top-color: green;
    border-width: 5px;
    padding: 1px;
}


/* Target alle heading tags op de pagina en zet hun font-family op 'Bree Serif', serif */
body h1, h2, h3 {
    font-family: 'Bree Serif', serif;
}

