/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
}

.edhub2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;



}
.three {
    display: flex;
    justify-content: space-between;
}
.ul_three {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}
.edhub3 {
    display: flex;
    align-items: center;
}
.list_home {
    display: flex;
}
.list_cursussen {
    display: flex;
}
.list_contents {
    display: flex;
}

/*-----------------------------------------------------------*/

.four {
    display: flex;
    justify-content: center;
}

.four_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/*Ook deze opdracht 2.5 wilde gewoon niet meewerken en ik kan er niet achter
komen wat er nu precies verkeerd gaat. Als ik wat probeer te veranderen in de code
verandert er of niets, of gebeurt telkens hetzelfde. Aangezien ik niks in de HTML
mag veranderen sta ik echt voor een raadsel
 */
.five {
    display: flex;
    flex-direction: row;


}

#article_1 {

}

#article_2 {

}

#article_3 {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}